#wrapper{
	height:600px;
	width:1300px;
	background-color:black;
}

#demoncontainer{
	margin-left:20%;
	margin-right:20%;
}
.margin{
	display:block;
	float:left;
	margin-top:40px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;		
}
#press{
	margin-left:3%;
	margin-top:5%;
	background-color:orange;
	color:white;
	font-weight:bold;
}